body {
  text-align: center;
}

h1,
h2,
p {
  font-family: 'Poppins', cursive;
  text-align: center;
}

.wrapper {
  min-height: 300px;
}

ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border: solid black 1px;
  border-radius: 5px;
  background-color: #d9d9d9;
}

.add-book {
  border: solid black 2px;
  width: 50%;
  margin: 0 0 0 20rem;
}

.add-book ul li:nth-child(odd) {
  background-color: #a29c9c;
}

.add-book ul li span {
  padding-left: 10px;
}

hr {
  width: 50px;
  border: solid black 1px;
}

input {
  border: solid black 2px;
  color: black;
}

button {
  background-color: white;
  border: solid black 2px;
  box-shadow: 2px 1px 0 rgba(0, 0, 0, 1);
}
